body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    margin: 0;
}
h3{
    color: aliceblue;
}
.change-btn {
    width: 95%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#newUsername{
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;
    margin-bottom: 20px;
    background: none;
    color: rgba(255, 255, 255, 0.555);
    height: 35px;
    width: 300px;
}
#newPassword{
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;
    margin-bottom: 20px;
    background: none;
    color: rgba(255, 255, 255, 0.555);
    height: 35px;
    width: 300px;
}
